    *{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.navbar {
    flex: 1;
    text-align: right;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.navbar ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 13px;
}

.laatikko {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.laatikko h1 {
    font-size: 62px;
}
.laatikko p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
}
.nappi {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 15px;
    background: black;
    position: relative;
    cursor: pointer;
}
.nappi:hover {
    background: red;
    transition: 1s;
	color: black;
	font-size: 18px;
}




.teams {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1 {
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 22px;
    line-height: 22px;
    padding: 10px;
}

.teams_box1{
    flex-basis: 31%;
    background: light_blue;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    margin: 10px 0;
}
.teams_box1:hover{
    box-shadow: 0 0 20px;
}

.teams_box2{
    flex-basis: 31%;
    background: light_blue;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.teams_box2:hover{
    box-shadow: 0 0 20px;
}

.teams_box3{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.teams_box3:hover{
    box-shadow: 0 0 20px;
}



.races{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.races p {
    color: black;
	font-size: 16px;
}

.races_box{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.races_box img{
    width: 100%;
}
.races_box h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

.rivi1 {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.rivi2 {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.rivi3 {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.rivi4 {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}